ansible~=10.0
ansible-lint~=24.0
molecule~=24.0

# ansible.utils.ipaddr
netaddr~=1.0

# ansible.builtin.password_hash
passlib~=1.0

# community.general.json_query
jmespath~=1.0

# community.hashi_vault.*
hvac~=2.0
